h1 {
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  margin: 5px;
}

.container {
  margin: 2px;
  padding: 2px;
  overflow: hidden;
  border: 2px solid #000000;
}

#categories {
  margin: 2px;
  padding: 0px;
  overflow: hidden;
}

.info-container {
  margin: 2px;
  height: 370px;
  padding: 10px;
  overflow: hidden;
}

.page {
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 5px;
}

.categories button  {
  width: 33%;
  height: 50px;
  overflow: hidden;
  margin: 1px;
  background-color: #009933;
  float: left;
  box-sizing: border-box;
  border-radius: 10px;
}

.button {
  width: 33%;
  height: 50px;
  overflow: hidden;
  margin: 1px;
  background-color: #009933;
  float: left;
  box-sizing: border-box;
  border-radius: 10px;
}

.button p {
  text-align: center;
  text-weight: bold;
  font-size: 18px;
}

.button a:hover, a:link, a:visited {
  cursor: pointer;
  text-decoration: none;
  background-color: #00cc44;
  color: #ffffff;
}

label {
  font-size: 20px;
  font-family: 'Crimson Text', serif;
}

input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #999966;
}

input[type=submit], input[type=reset] {
  background-color: #009933;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 1%;
  margin: 1% 1% 0% 1%;
  cursor: pointer;
  width: 47.5%;
}